---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{plainmarkdown .Description | trimspace}}
---

# {{.Name}} ({{.Type}})

{{- if .HasExample}}

## Example Usage

{{tffile .ExampleFile}}
{{- end}}

{{.Description}}

{{ .SchemaMarkdown | trimspace }}
